.bodydiv{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left,lightgreen,aqua);
}
.user{
    width: 100%;
    height: 10vh;
    padding: 5px;
    background-color: black;
    justify-content: center; 
    align-items: center;
}
.person{
    color: white;
    /* background-color: aqua; */
    margin-left: 80%;
    margin-right: 10%;
    width: 20%;
    justify-content: center;
    height: 8vh;
    text-align: center;
    padding: 15px;
    font-size: 1.5em;
}
.navi{
    width: 20%;
    height: 90vh;
    background-color: white;
    position: relative;
}
.nav{
    width: 100%;
    background-color:white;
}
a{
    color: white;
    text-align: center;
    text-decoration: none;
}
.tablehead{
    width: 100%;
    height:fit-content;
    background-color: grey;
    /* float: right; */
    margin-top: 60%;
    margin-left: -40%;
   
    /* margin-top: -15%;
    margin-right: 5%;   */
}

/* Save e*/
.save{
    /* background-color: black; */
    width: 70%;
    margin-left: 50%;
    margin-top: -44%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

#thead th{
    text-align: center;
    padding: 7px;
}

tbody tr{
    color: black;
}

.table-bordered{
    width: 100%;
    text-align: center;
    color: blue;
}

#tBody{
    color: blue;   
    background-color: black;
    border-color: blue;
    padding: 40%;
}

tr{
    background-color: white;
}
.cell{
    text-align: center;
    height: 5vh;
    border-color: blue;
}

.form-group{
    width: 50%;
    height: 30vh;
    /* background-color: aqua; */
    padding: 2%;
}
#btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-left: 45%;
}
.data{
    display: flex;
    text-align: left;
    padding-left: -34%;
    margin-top: 5%;
}




